*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
}
#dbird{
    position: absolute;
}
.dir_37{
    transform: rotateY(180deg);
}
.dir_38{
    transform: rotate(-60deg);
}
.dir_40{
    transform: rotate(60deg);
}