*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#top{
    position: relative;
    width: 800px;
    height: 300px;
    border: 1px solid red;
    margin: 50px auto;
}
#top ul li{
    float: left;
    width: 100px;
    height: 300px;
}
.pos1{
    background-image: url("../image/1.jpg");
}
.pos2{
    background-image: url("../image/2.jpg");
}
.pos3{
    background-image: url("../image/3.jpg");
}
#top ul .pos4{
    background-image: url("../image/4.jpg");
    width: 500px;
}
.txt{
    position: absolute;
    width: 100px;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
}
.txt p{
    float: left;
}
.p1{
    font-size: 12px;
    width: 12px;
    color: white;
    padding: 25px 20px 0 20px;
}
.p2{
    font-size: 14px;
    width: 14px;
    color: white;
    padding: 25px 20px 0 0;
}