*{
    padding: 0;
    margin: 0;
}
/*
body{
    background-color: black;
}
#zhu{
    position: absolute;
    width: 500px;
    height: 300px;
    background-color: blue;
    color: red;
    text-align: center;
    line-height: 300px;
    font-size: 40px;
    font-family: "华文新魏";
    top: 150px;
    left: 400px;
}*/
