*{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.top{
    width: 800px;
    height: 300px;
    margin: 70px auto;
}
.top ul li {
    float: left;
    width: 100px;
    height: 300px;
}
.pic1{
    background-image: url("../image/1.jpg");
}
.pic2{
    background-image: url("../image/2.jpg");
}
.pic3{
    background-image: url("../image/3.jpg");
}
.top ul .pic4{
    background-image: url("../image/4.jpg");
    width: 500px;
}
.txt{
    background: rgba(0,0,0,0.5);
    width: 100px;
    height: 300px;
}
.txt p{
    float: left;
    color: white;
}
.p1{
    font-size: 14px;
    width: 14px;
    padding: 30px 25px 0 20px;
}
.p2{
    font-size: 18px;
    width: 18px;
    padding: 30px 20px 0 0;
}