*{
    padding: 0;
    margin: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
}
.last{

}
.last-one{
    width: 300px;
}
.last-one>a{
    height: 30px;
    border-left: solid 12px red;
    background-color: rgba(0,0,0,0.5);
    display: block;
    line-height: 30px;
    padding-left: 20px;
}
.last-two{
    width: 300px;
}
.last-two a{
    height: 30px;
    border-left: solid 25px red;
    background-color: black;
    display: block;
    padding-left: 10px;
    line-height: 30px;
    border-bottom: solid 1px white;
}